@charset "utf-8";
/* CSS Document */

nav {
	text-align:left;
	
	
	margin-left:0px;
	
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
	transition: display 2s;
	-webkit-transition: display 2s;
	background-position: top;
}
nav ul li {
	float: left;
	list-style: none;
	opacity:0.9;
}
nav ul li:hover {
	background: #F60;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
nav ul li {
	padding: 0px 4px;
	
	/*border-right: 1px solid #0CF;*/
}
nav ul ul li {
	padding: 0px 0px;
	border-right: none;
	opacity:0.9;
}
nav ul {
	display: inline-table;
	padding: 0px 0px;
	position:relative;
	margin-bottom:0;
	}
nav ul ul li {
	float: none;
	border-bottom: 2px solid #000;
	position: relative;
}
nav ul ul {
	position: absolute;
	padding: 0 0px;
}
nav ul ul ul a {
	padding: 0 0px;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0%;
}
nav ul li a {
	display: block;
	padding: 10px 30px;
}
nav ul ul li a {
	display: block;
	padding: 20px 30px;
}
nav ul ul {
	background: #306;
}
ul {/*
	box-shadow: 3px 3px 3px rgba(0,0,0,.75);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,.75);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.75);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;*/
	
}
nav ul ul li a:hover {
	background: #069;
	display: block;
}
nav ul ul {
	
}
/*menu text*/
.men {
	font-family: Shrewsbury, JasmineUPC, "Iskoola Pota";
	color:#FFF;
	font-size: 22px;
	text-decoration: none;
	background:linear-gradient(top, #F60 1%, #C30 99%);
	background:-moz-linear-gradient(top, #F60 1%, #C30 99%);
	background:-webkit-linear-gradient(top, #F60 1%, #C30 99%);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height:11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:15px;
	
	
}